<h1 class="title animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="parrafo animated fadeIn">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Reprehenderit eos ipsum voluptate, consectetur hic molestias officiis minima
    <span>accusantium veniam numquam </span>ullam enim vel suscipit?. Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Assumenda earum explicabo vitae 
    perferendis deleniti et quod quibusdam corporis eligendi. Impedit eveniet totam 
    sunt aperiam.</p>